/prboom2/ICONS/icons.aps
/prboom2/ImportExecutables.cmake
/prboom2/config.h
/prboom2/dsda-doom
/prboom2/dsda-doom.wad
/prboom2/data/rdatawad
/prboom2/release
/build*
/release*

# spec files
analysis.txt
levelstat.txt
/spec/support/wads/*
!/spec/support/wads/analysis_test.wad

# macOS
.DS_Store/

# just cmake thing
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# vcpkg
vcpkg_installed

# Visual Studio
/.vs/**
!/.vs/CMakeWorkspaceSettings.json
out
CMakeSettings.json
CMakeUserPresets.json

# Visual Studio Code
/.vscode/**
!/.vscode/extension.json
